*{
	text-align: center;
}
#first{
	background-color: blue;
}

#second{
	background-color: white;
}

#third{
	background-color: red;
}

img{
	width: 100%;
	max-width: 500px;
}

form{
	width: 200px;
}

@media all and (max-width: 500px){

}