*{
	text-align: center;
	color: white;
}
html{
	font-size: 62,5%;
	background-image: url("../img/bg.jpg");
	background-size: cover;
}
h1{
	font-size: 8vw;
}
body{
	font-size: 1.6rem;
}
#first{
	
}

#second{
	
}

#third{
	
}

#iut{
	content: url("../img/logo-iut.jpg");
	width: 300px;
	margin: auto;
}

img{
	width: 100%;
	max-width: 500px;
}
table{
	border-collapse: collapse;
	margin:auto;
}
td,th{
	border: 1px solid white;
}
th{
	background-color: grey;
}

form{
	width: 170px;
	margin: auto;
}

@media (-webkit-device-pixel-ratio: 2) and (min-width: 768px){
	#iut{
		content: url("../img/logo-iut2.jpg");
		width: 600px;
		margin: auto;
	}
}

@media (max-width: 1023px){
	td,th{
		display: inline-block;
		width: 100%;
	}
}